/downloads/*
.last-built-version
.bashful/
*.log
build-assets/*

*~
\#*
*.iml
.idea/

tcp-angular/
tcp-ecs/
tcp-java/
tcp-react/
tcp-jenkins/
jenkins/
xg/
terraform-aws-jenkins-stack/
terraform-aws-sonar-ecs-fargate/
